<h2>Celebrity List</h2>
{{#each celeb}}
  <p><a href="/celebritiesindex/show/{{this._id}}">{{this.name}}</a> # 
  <a href="/celebrities/delete/{{this._id}}">Delete</a></p>
{{/each}}
<a href="/celebritiesindex/new">ADD</a>
